body {
  padding: 25px;
}

div.position {
  outline: 1px solid #eee;
  position: absolute;
}

.red {
  background-color: red;
  fill: red;
}

.area {
  background-color: rgba(0,0,0,0.2);
}

.example-holder, .intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.intro {
  flex-direction: column
}

#html-root {
	position: relative;
}


pre {
  padding: 5px 10px 5px 20px;
}

rect {
  stroke-width: 1;
  fill: none;
  stroke: #eee;
  vector-effect: non-scaling-stroke;
}

.ex {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

pre {
  font-family: monospace;
  letter-spacing: 9px;
  line-height: 0.5
  font-weight: 900;
  font-size: 14px;
}

p {
  margin-top: 10px;
  text-align: center;
}

.ui.mini.form {
  width: 800px;
  display: flex;
  flex-direction: column;
}
.ui.labeled.input {
  margin: 5px;
}

.ui.labeled.input input {
  width: 400px !important;
}

.ui.mini.form label {
  width: 200px;
}

code {
  padding: 10px;
  background-color: #f8f8f8;
  display: block;
  unicode-bidi: embed;
}
